.card {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background: var(--welcome-card-bg);
  border-radius: 8px;
  padding: 16px;
  justify-content: center;
  align-items: center;
  text-align: center;

  > h2 {
    margin-top: 40px;
  }
}

.actions {
  position: fixed;
  z-index: var(--z-index-bottom-nav);
  background: var(--welcome-bg-end);
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  height: var(--welcome-nav-height);
  color: var(--welcome-text);
  padding: 0 16px;

  > .fake {
    visibility: hidden;
  }
}